{% extends 'base.html' %}
{% load bootstrap3 %}


{% block title %}
<h2>{{ hotel.name }}</h2>
<h5>{{ hotelsite.review_set.count }} reviews ({{ hotelsite.average_rating | floatformat }} average rating)</h5>
{% endblock %}

{% block content %}
<h3>Recent reviews</h3>

{% if hotel.hotel_set.all %}
<div>
    {% for review in hotelsite.review_set.all %}
    <div>
        <em>{{ review.description }}</em>
        <h6>Rated {{ review.rating }} of 5 by {{ review.user_name }}</h6>
        <h5><a href="{% url 'hotelsite:review_detail' review.id %}">
        Read more
        </a></h5>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No reviews for this Hotel yet</p>
{% endif %}

<h3>Add your review</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'hotelsite:add_review' hotel.id %}" method="post" class="form">
    {% csrf_token %}
	{% bootstrap_form form layout='inline' %}
   {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Add
    </button>
    {% endbuttons %}
</form>
{% endblock %}
